@use '../custom' as *;
@use '../components/animations' as *;


.open-cart{
    display: grid;
    padding-top: 3rem ;
    padding-left: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,auto);
    position: fixed;
    right: 0;
    top: 0px;
    z-index: 2;
    width: 500px;
    height: 100%;
    background: $black-2;
    border-radius: 0;
}
.hide-cart{
    display:none;
}

/* #slide{
    width: 500px;
    height: 100%;
    background: $black-2;
    right: 0; 
}
 */
.title-cart{
    position: relative;
    font: {
        family: $fontFamily;
        style: normal;
        weight: normal;
        size: 30px;
    }
    line-height: 30px;
    color: $gray-200;
    margin:2rem 0;
}
.title-product{
    @extend .title-cart;
    font-size: 18px;
    text-align: left;
    margin:10px
}
.carts-products::-webkit-scrollbar{
    width: 10px;
}
.carts-products::-webkit-scrollbar-thumb{
    background: $primary;
    border-radius: 5px;
}
.carts-products{
    height: 500px;
    overflow-y:scroll;
    overflow-x: hidden;
  
}
.cart-product{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    margin-bottom:10px;
    padding: 1rem 1rem;
    background: rgba(185, 10, 10, 0.9);
    box-shadow: $box-shadow-2;
}
.cart-image{
    width: 113px;
    height: 86px;
    object-fit: contain;
}
.btns-product{
    position:relative;
    width: 121px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 29px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    background: rgba(0, 0, 0, 0.6);
}
.btn-add{
    border: none;
    background: transparent;
    font-size: 20px;
    display: flex;
    height: 29px;
    width: 29px;
    justify-content: center;
    z-index: 1;
    align-items: center;
    i{
        font-size: 15px;
    }
}
.btn-subtraction{
    height: 29px;
    width: 29px;
    border: none;
    background: transparent;
    i{
        font-size: 15px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
  
height: 29px;
}
.counter-quantity{
    position: relative;
    padding: 5px;
    margin:0;
    width: 50px;
    height: 29px;
    border: none; 
    background: transparent;
    
}
.btn-delete{
    border: none;
    position: absolute;
    top:30px;
 
    height: 29px;
    border: none; 
    background: transparent;
    transition: 0.3s;
    
}

.btn-delete:hover,.btn-subtraction:hover,.btn-add:hover {
    i{
        color:$gray-400;
    }
}
